<div class="plotly-chart-container" [style.width]="width" [style.height]="height">
  <!-- Loading indicator -->
  <div *ngIf="isLoading" class="plotly-loading">
    <mat-spinner diameter="40"></mat-spinner>
    <p>Loading chart...</p>
  </div>
  
  <!-- Error display -->
  <div *ngIf="error" class="plotly-error">
    <mat-icon>error_outline</mat-icon>
    <p>{{ error }}</p>
  </div>
  
  <!-- Plotly chart using angular-plotly.js -->
  <plotly-plot 
    *ngIf="!isLoading && !error && data.length > 0"
    [data]="data"
    [layout]="layout"
    [config]="config"
    [revision]="revision"
    [style]="{ width: '100%', height: '100%' }"
    (plotlyClick)="onPlotlyClick($event)"
    (plotlyHover)="onPlotlyHover($event)"
    (plotlyRelayout)="onPlotlyRelayout($event)">
  </plotly-plot>
  
  <!-- No data state -->
  <div *ngIf="!isLoading && !error && data.length === 0" class="plotly-no-data">
    <mat-icon>bar_chart</mat-icon>
    <p>No chart data available</p>
  </div>
</div> 